In [1]:
import pandas as pd
# import re
# from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
df_train = pd.read_csv("data/train.csv", delimiter=",")
df_test = pd.read_csv("data/test.csv", delimiter=",")

In [19]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [20]:
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [5]:
df_train['Embarked'] = df_train['Embarked'].fillna(df_train['Embarked'].mode()[0],)
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].median())
df_test['Embarked'] = df_test['Embarked'].fillna(df_train['Embarked'].mode()[0],)
df_test['Age'] = df_test['Age'].fillna(df_train['Age'].median())
df_test['Fare'] = df_test['Fare'].fillna(df_train['Fare'].median())

In [6]:
x_train_wName = df_train[['Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']]
X = df_train[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','Ticket']]

y = df_train['Survived']

In [7]:
x_train_wName

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,NaN,S
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked            Ticket
0         3    male  22.0      1      0   7.2500        S         A/5 21171
1         1  female  38.0      1      0  71.2833        C          PC 17599
2         3  female  26.0      0      0   7.9250        S  STON/O2. 3101282
3         1  female  35.0      1      0  53.1000        S            113803
4         3    male  35.0      0      0   8.0500        S            373450
..      ...     ...   ...    ...    ...      ...      ...               ...
886       2    male  27.0      0      0  13.0000        S            211536
887       1  female  19.0      0      0  30.0000        S            112053
888       3  female  28.0      1      2  23.4500        S        W./C. 6607
889       1    male  26.0      0      0  30.0000        C            111369
890       3    male  32.0      0      0   7.7500        Q            370376

[891 rows x 8 columns]

In [9]:
X

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked            Ticket
0         3    male  22.0      1      0   7.2500        S         A/5 21171
1         1  female  38.0      1      0  71.2833        C          PC 17599
2         3  female  26.0      0      0   7.9250        S  STON/O2. 3101282
3         1  female  35.0      1      0  53.1000        S            113803
4         3    male  35.0      0      0   8.0500        S            373450
..      ...     ...   ...    ...    ...      ...      ...               ...
886       2    male  27.0      0      0  13.0000        S            211536
887       1  female  19.0      0      0  30.0000        S            112053
888       3  female  28.0      1      2  23.4500        S        W./C. 6607
889       1    male  26.0      0      0  30.0000        C            111369
890       3    male  32.0      0      0   7.7500        Q            370376

[891 rows x 8 columns]

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
from sklearn.preprocessing import LabelEncoder

In [13]:
X['Has_Ticket_Prefix'] = X['Ticket'].str.match(r"[^\d]+").astype(int)
X['Ticket_Number'] = X['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()
X['Starting_Digit'] = X['Ticket_Number'].str.extract('^(\d)', expand=False)
X['Ticket_Number_Length'] = X['Ticket'].str.replace(r'[^\d]+', '', regex=True).apply(len)
X.drop(columns =['Ticket', 'Ticket_Number'], inplace =True)  # Drop original column (optional)

<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\13662232.py:2: SyntaxWarning: invalid escape sequence '\.'
  X['Ticket_Number'] = X['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\13662232.py:3: SyntaxWarning: invalid escape sequence '\d'
  X['Starting_Digit'] = X['Ticket_Number'].str.extract('^(\d)', expand=False)
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\13662232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Has_Ticket_Prefix'] = X['Ticket'].str.match(r"[^\d]+").astype(int)
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\13662232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Ticket_Number'] = X['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\13662232.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Starting_Digit'] = X['Ticket_Number'].str.extract('^(\d)', expand=False)

In [22]:
X['Starting_Digit'] = X['Starting_Digit'].fillna(X['Starting_Digit'].mode()[0],)

In [23]:
X.isnull().sum()

Pclass                  0
Sex                     0
Age                     0
SibSp                   0
Parch                   0
Fare                    0
Embarked                0
Has_Ticket_Prefix       0
Starting_Digit          0
Ticket_Number_Length    0
dtype: int64

In [24]:
x_train_encoded = pd.get_dummies(X, columns=['Pclass','Sex', 'Embarked'], drop_first=False).astype(int)
# X = X.drop(['Pclass','Sex', 'Embarked'], axis=1)
# X = pd.concat([X, x_train_encoded], axis=1)

In [25]:
print("X_train_encoded:\n", x_train_encoded)

X_train_encoded:
      Age  SibSp  Parch  Fare  Has_Ticket_Prefix  Starting_Digit  \
0     22      1      0     7                  1               5
1     38      1      0    71                  1               1
2     26      0      0     7                  1               2
3     35      1      0    53                  0               1
4     35      0      0     8                  0               3
..   ...    ...    ...   ...                ...             ...
886   27      0      0    13                  0               2
887   19      0      0    30                  0               1
888   28      1      2    23                  1               6
889   26      0      0    30                  0               1
890   32      0      0     7                  0               3

     Ticket_Number_Length  Pclass_1  Pclass_2  Pclass_3  Sex_female  Sex_male  \
0                       6         0         0         1           0         1
1                       5         1         0         0           1         0
2                       8         0         0         1           1         0
3                       6         1         0         0           1         0
4                       6         0         0         1           0         1
..                    ...       ...       ...       ...         ...       ...
886                     6         0         1         0           0         1
887                     6         1         0         0           1         0
888                     4         0         0         1           1         0
889                     6         1         0         0           0         1
890                     6         0         0         1           0         1

     Embarked_C  Embarked_Q  Embarked_S
0             0           0           1
1             1           0           0
2             0           0           1
3             0           0           1
4             0           0           1
..          ...         ...         ...
886           0           0           1
887           0           0           1
888           0           0           1
889           1           0           0
890           0           1           0

[891 rows x 15 columns]

In [26]:
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score, cross_validate
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [27]:
log_reg = LogisticRegression(random_state=42, max_iter=10000, )
skf = StratifiedKFold(n_splits=3, shuffle=True, random_state=42)
scores_stratified = cross_val_score(log_reg, x_train_encoded, y, cv=skf, scoring='f1') # 'f1' is often a good choice for imbalanced data
print("Stratified Cross-validation scores:", scores_stratified)

log_reg.fit(x_train_encoded, y)

Stratified Cross-validation scores: [0.74885845 0.69565217 0.74336283]

LogisticRegression(max_iter=10000, random_state=42)

In [28]:
x_score = df_test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked', 'Ticket']]

x_score['Has_Ticket_Prefix'] = x_score['Ticket'].str.match(r"[^\d]+").astype(int)
x_score['Ticket_Number'] = x_score['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()
x_score['Starting_Digit'] = x_score['Ticket_Number'].str.extract('^(\d)', expand=False)
x_score['Ticket_Number_Length'] = x_score['Ticket'].str.replace(r'[^\d]+', '', regex=True).apply(len)
x_score.drop(columns =['Ticket', 'Ticket_Number'], inplace =True)  # Drop original column (optional)

x_score_encoded = pd.get_dummies(x_score, columns=['Pclass','Sex', 'Embarked'], drop_first=True).astype(int)

# Align columns: add missing columns in x_score with NaN
x_score_encoded = x_score_encoded.reindex(columns=x_train_encoded.columns, fill_value=0)

# x_score = x_score.drop(['Pclass','Sex', 'Embarked'], axis=1)
# x_score = pd.concat([x_score, x_score_encoded], axis=1)

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\1188762033.py:4: SyntaxWarning: invalid escape sequence '\.'
  x_score['Ticket_Number'] = x_score['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\1188762033.py:5: SyntaxWarning: invalid escape sequence '\d'
  x_score['Starting_Digit'] = x_score['Ticket_Number'].str.extract('^(\d)', expand=False)
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\1188762033.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_score['Has_Ticket_Prefix'] = x_score['Ticket'].str.match(r"[^\d]+").astype(int)
C:\Users\wanas.panasahatham\AppData\Local\Temp\ipykernel_21220\1188762033.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_score['Ticket_Number'] = x_score['Ticket'].str.replace('^[A-Za-z/\.]+', '', regex=True).str.strip()

In [29]:
y_pred = log_reg.predict(x_score_encoded)

In [30]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [31]:
submission = pd.Series(y_pred, index=df_test['PassengerId'], name='Survived').reset_index()

In [32]:
submission.to_csv('pred_result/submission.csv', index=False)

In [33]:
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]